:root {
    /* Cores base */
    --color-bg-main: #111;
    --color-bg-secondary: #1a1a1a;
    --color-bg-card: #1f1f1f;
    --color-bg-card-alt: #2a2a2a;

    --color-text-main: #ffffff;
    --color-text-muted: #cccccc;

    /* Tipografia */
    --font-family-base: Arial, Helvetica, sans-serif;

    /* Espaçamentos */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 20px;
    --spacing-lg: 60px;
}